.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-group {
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.card {
  margin: 5px;
}


#footer {
  position:relative;
  text-align: center;
  margin-bottom: -550px;
  height: 40px;
  clear: both;
  font-family: 'Lucida Sans', sans-serif;
  background-color: lavender;
}

#header {
  font-family: 'Lucida Sans', sans-serif;
  text-align: center;
  background-color: lightblue;
  padding: 10px;
  margin: 20px;
}

#images {
  text-align: center;
  font-family: 'Lucida Sans', sans-serif;
}

#body {
  width: 1000px;
}

